@import "../../app.scss";

.contact{
    height: 100%;
    max-width: 1366px;
    margin: auto 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    @include mobile {
            width: 100%;
            padding: 0;
            margin: 0;
            flex-direction: column;
            gap: 0;
        }

        @include tablet{
            width: 100%;
            margin: 0;
            flex-direction: column;
        }

    .textContainer{
        flex:1;
        display:flex;
        flex-direction: column;
        gap: 40px;
        @include mobile {
            flex: 0;
                gap: 2px;
                text-align: center;
                align-items: center;   
            }
        @include tablet{
            flex: 0;
            gap: 2px;
            text-align: center;
            align-items: center;
            margin-bottom: 50px;
        }
        
        h1{
            font-size: 5rem;
            line-height: 88px;

            @include mobile {
                    font-size: 45px;
                    line-height: 50px;
                }

                @include tablet{
                    font-size: 75px;
                    line-height: 70px;
                }
        }
        .item{
            margin-top: 10px;
            h2 {
                    @include mobile {
                        font-size: 24px;
                    }
            
                    @include tablet {
                        font-size: 48px;
                    }
                }
            
                span {
                    font-weight: 300;
            
                    @include mobile {
                        font-size: 20px;
                    }
            
                    @include tablet {
                        font-size: 32px;
                    }
                }
        }
    }

    .formContainer{
        flex:1;
        position: relative;
        
        @include mobile {
                flex: 0;
                padding:15px 15%;
                width: 100%;
                padding-top: 20px;
            }
            @include tablet{
                flex: 0;
                padding: 15px 15%;
                    width: 100%;
                padding-top: 20px;
            }
        


        .phoneSvg{
            stroke: orange;
            position: absolute;
            margin: auto;
            z-index: -1;

            @include mobile{
                padding-top: 20px;
                svg{
                    width: 250px;
                    height: 250px;
                }
            }
                         @include tablet {
                             padding-top: 20px;
            
                             svg {
                                 width: 400px;
                                 height: 400px;
                             }
                         }
        }
        
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include tablet{
                width: 100%;
            }
        
            input,textarea{
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;

                @include mobile {
                        padding: 10px;
                    }
                    
            }
            button{
                border-radius: 5px;
                padding: 20px;
                border: none;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;
                font-size: 18px;
                    @include mobile {
                            padding: 10px;
                        }
            }
        }

    
    }
}