html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: #0c0c1d;
    color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

@mixin mobile{
    @media only screen and (max-width: 599px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 600px) and (max-width: 900px) {
        @content;
    }
}
